

:root {

  
  --neutral-1: #fdfaff;
  --white: #ffffff;
  --color-2: #c4a8e0;
  --color-3: #3d2457;
  --color-4: #5c4878;
  --color-5: #7b5ea7;
  --neutral-6: #f0e8fa;
  --color-7: #c9a84c;
  --color-8: #9b8ab0;
  --purple-dark: #4c3c6b;
  --color-9: #c4a66b;
  --color-10: #999999;
  --purple-dark-11: #4c3c6bd9;
  --black: #000000;
  --color-12: #e5deff;
  --neutral-13: #f8f0dc;
  --color-14: #e2cef5;
  --color-15: #e8d4ff;
  --color-16: #e6e6e6;
  --color-17: #4b3150;
  --neutral-18: #ffffffb2;
  --neutral-19: #ffffffd9;
  --neutral-20: #ffffff99;
  --neutral-21: #ffffff59;
  --color-22: #2d2040;
  --neutral-23: #faf8f5;
  --color-24: #e7e2ed;
  --color-25: #7b5ea754;
  --neutral-26: #ffffff33;
  --neutral-27: #ffffff26;
  --color-28: #7b5ea70f;
  --purple-dark-29: #4c3c6b26;
  --color-30: #e9e6e8;
  --color-31: #564773;
  --color-32: #99999933;
  --color-33: #99999980;
  --color-34: #8a38f5;
  --color-35: #000000b2;
  --neutral-36: #f2edf7;
  --purple-dark-37: #4c3c6be5;
  --purple-dark-38: #4c3c6b14;
  --neutral-39: #f2f0eb;

  
  --heading-h5-medium-size: 24px;
  --heading-h5-medium-line-height: 30px;
  --heading-h5-medium-weight: 500;
  --title-title-1-medium-size: 72px;
  --title-title-1-medium-line-height: 88px;
  --title-title-1-medium-weight: 500;
  --label-label-2-bold-size: 14px;
  --label-label-2-bold-line-height: 20px;
  --label-label-2-bold-weight: 700;
  --title-title-2-medium-size: 64px;
  --title-title-2-medium-line-height: 76px;
  --title-title-2-medium-weight: 500;
  --title-title-2-bold-size: 64px;
  --title-title-2-bold-line-height: 76px;
  --title-title-2-bold-weight: 700;
  --label-label-3-bold-size: 12px;
  --label-label-3-bold-line-height: 16px;
  --label-label-3-bold-weight: 700;
  --heading-h5-semi-bold-size: 24px;
  --heading-h5-semi-bold-line-height: 30px;
  --heading-h5-semi-bold-weight: 600;
  --heading-h4-semi-bold-size: 32px;
  --heading-h4-semi-bold-line-height: 38px;
  --heading-h4-semi-bold-weight: 600;
  --body-body-2-medium-size: 16px;
  --body-body-2-medium-line-height: 24px;
  --body-body-2-medium-weight: 500;
  --heading-h1-medium-size: 56px;
  --heading-h1-medium-line-height: 68px;
  --heading-h1-medium-weight: 500;
  --body-body-3-medium-size: 14px;
  --body-body-3-medium-line-height: 20px;
  --body-body-3-medium-weight: 500;
  --heading-h1-bold-size: 56px;
  --heading-h1-bold-line-height: 68px;
  --heading-h1-bold-weight: 700;
  --body-body-4-regular-size: 12px;
  --body-body-4-regular-line-height: 16px;
  --body-body-4-regular-weight: 400;
  --title-title-3-bold-size: 56px;
  --title-title-3-bold-line-height: 68px;
  --title-title-3-bold-weight: 700;
  --body-body-4-medium-size: 12px;
  --body-body-4-medium-line-height: 16px;
  --body-body-4-medium-weight: 500;
  --heading-h2-semi-bold-size: 48px;
  --heading-h2-semi-bold-line-height: 58px;
  --heading-h2-semi-bold-weight: 600;
  --heading-h1-semi-bold-size: 56px;
  --heading-h1-semi-bold-line-height: 68px;
  --heading-h1-semi-bold-weight: 600;
  --body-body-1-regular-size: 18px;
  --body-body-1-regular-line-height: 28px;
  --body-body-1-regular-weight: 400;
  --heading-h4-bold-size: 32px;
  --heading-h4-bold-line-height: 38px;
  --heading-h4-bold-weight: 700;
  --body-body-3-regular-size: 14px;
  --body-body-3-regular-line-height: 20px;
  --body-body-3-regular-weight: 400;
  --heading-h2-bold-size: 48px;
  --heading-h2-bold-line-height: 58px;
  --heading-h2-bold-weight: 700;
  --title-title-3-medium-size: 56px;
  --title-title-3-medium-line-height: 68px;
  --title-title-3-medium-weight: 500;
  --body-body-1-medium-size: 18px;
  --body-body-1-medium-line-height: 28px;
  --body-body-1-medium-weight: 500;
  --body-body-2-regular-size: 16px;
  --body-body-2-regular-line-height: 24px;
  --body-body-2-regular-weight: 400;
  --heading-h3-medium-size: 40px;
  --heading-h3-medium-line-height: 48px;
  --heading-h3-medium-weight: 500;
  --heading-h3-semi-bold-size: 40px;
  --heading-h3-semi-bold-line-height: 48px;
  --heading-h3-semi-bold-weight: 600;
  --heading-h4-medium-size: 32px;
  --heading-h4-medium-line-height: 38px;
  --heading-h4-medium-weight: 500;
  --label-label-1-regular-size: 16px;
  --label-label-1-regular-line-height: 22px;
  --label-label-1-regular-weight: 400;
  --label-label-1-semi-bold-size: 16px;
  --label-label-1-semi-bold-line-height: 22px;
  --label-label-1-semi-bold-weight: 600;
  --label-label-1-bold-size: 16px;
  --label-label-1-bold-line-height: 22px;
  --label-label-1-bold-weight: 700;
  --heading-h6-bold-size: 20px;
  --heading-h6-bold-line-height: 24px;
  --heading-h6-bold-weight: 700;
  --label-label-3-semi-bold-size: 12px;
  --label-label-3-semi-bold-line-height: 16px;
  --label-label-3-semi-bold-weight: 600;
  --title-title-1-regular-size: 72px;
  --title-title-1-regular-line-height: 88px;
  --title-title-1-regular-weight: 400;
  --caption-caption-1-medium-size: 10px;
  --caption-caption-1-medium-line-height: 12px;
  --caption-caption-1-medium-weight: 500;
  --caption-caption-2-semi-bold-size: 9px;
  --caption-caption-2-semi-bold-line-height: 10px;
  --caption-caption-2-semi-bold-weight: 600;
  --label-label-2-semi-bold-size: 14px;
  --label-label-2-semi-bold-line-height: 20px;
  --label-label-2-semi-bold-weight: 600;
  --heading-h2-medium-size: 48px;
  --heading-h2-medium-line-height: 58px;
  --heading-h2-medium-weight: 500;
  --label-label-1-medium-size: 16px;
  --label-label-1-medium-line-height: 22px;
  --label-label-1-medium-weight: 500;
  --title-title-3-regular-size: 56px;
  --title-title-3-regular-line-height: 68px;
  --title-title-3-regular-weight: 400;
  --label-label-3-regular-size: 12px;
  --label-label-3-regular-line-height: 16px;
  --label-label-3-regular-weight: 400;
  --heading-h6-medium-size: 20px;
  --heading-h6-medium-line-height: 24px;
  --heading-h6-medium-weight: 500;
  --label-label-3-medium-size: 12px;
  --label-label-3-medium-line-height: 16px;
  --label-label-3-medium-weight: 500;
  --title-title-2-regular-size: 64px;
  --title-title-2-regular-line-height: 76px;
  --title-title-2-regular-weight: 400;
  --heading-h5-bold-size: 24px;
  --heading-h5-bold-line-height: 30px;
  --heading-h5-bold-weight: 700;
  --label-label-2-medium-size: 14px;
  --label-label-2-medium-line-height: 20px;
  --label-label-2-medium-weight: 500;
  --title-title-1-bold-size: 72px;
  --title-title-1-bold-line-height: 88px;
  --title-title-1-bold-weight: 700;
  --label-label-2-regular-size: 14px;
  --label-label-2-regular-line-height: 20px;
  --label-label-2-regular-weight: 400;
  --caption-caption-1-semi-bold-size: 10px;
  --caption-caption-1-semi-bold-line-height: 12px;
  --caption-caption-1-semi-bold-weight: 600;
  --heading-h3-bold-size: 40px;
  --heading-h3-bold-line-height: 48px;
  --heading-h3-bold-weight: 700;
  --caption-caption-2-medium-size: 9px;
  --caption-caption-2-medium-line-height: 10px;
  --caption-caption-2-medium-weight: 500;
  --heading-h6-semi-bold-size: 20px;
  --heading-h6-semi-bold-line-height: 24px;
  --heading-h6-semi-bold-weight: 600;
}
