.contactScreen {
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media (max-height: 720px) and (min-width: 901px) {
  .contactScreen {
    height: auto;
    overflow: visible;
  }
}

@media (max-width: 900px) {
  .contactScreen {
    height: auto;
    overflow: visible;
  }
}
